.about {
  padding-top: 252px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
  line-height: 80px;
  font-family: var(--poppins-sb);
  color: var(--color-black);
  margin-bottom: 23px;
}

.about__descr {
  font-family: var(--poppins-r);
  color: var(--color-gray);
  max-width: 653px;
  font-size: 20px;
  line-height: 30px;
}

.about__achievement {
  display: flex;
  justify-content: space-between;
}
.achievement__block-number {
  font-family: var(--poppins-sb);
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: var(--color-black-lighter);
}

.achievement__text {
  font-family: var(--work-sans-r);
  font-size: 20px;
  line-height: 30px;
  color: var(--color-gray);
  text-align: center;
}

.about__img {
  max-width: 549px;
  background-color: var(--color-gray-lighter);
}

.about__img > img {
  margin-left: 40px;
  margin-right: 9px;
}

@media (max-width: 992px) {
  .about__title {
    font-size: 36px;
    margin-bottom: 13px;
  }
  .about__descr {
    max-width: 528px;
    font-size: 16px;
    line-height: 24px;
  }

  .about__img {
    background-color: transparent;
  }

  .about__img > img {
    max-width: 336px;
    max-height: 336px;
  }

  .achievement__block-number {
    font-size: 30px;
  }
  .achievement__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .about__title {
    font-size: 30px;
  }
  .about__descr {
    max-width: 321px;
    font-size: 14px;
    line-height: 21px;
  }

  .about__img > img {
    max-width: 295px;
    max-height: 295px;
  }

  .achievement__block-number {
    font-size: 22px;
  }
  .achievement__text {
    font-size: 13px;
    line-height: 19px;
  }
}

@media (max-width: 575px) {
  .about__inner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .about__img > img {
    max-width: 352px;
    max-height: 352px;
  }

  .about__title {
    text-align: center;
  }

  .about__descr {
    max-width: 510px;
    text-align: center;
  }
  .achievement__block-number {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .about__img > img {
    max-width: 283px;
    max-height: 283px;
  }
  .about__achievement {
    flex-direction: column;
  }
}
