@font-face {
  font-family: WorkSansM;
  src: url("../fonts/poppins/WorkSans-Medium.ttf");
}

@font-face {
  font-family: WorkSansR;
  src: url("../fonts/poppins/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSansSB;
  src: url("../fonts/poppins/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsSB;
  src: url("../fonts/worksans/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsR;
  src: url(../fonts/worksans/Poppins-Regular.ttf);
}
