.pricing {
  padding-top: 188px;
}

.pricing__title {
  font-family: var(--poppins-sb);
  font-size: 48px;
  line-height: 80px;
  color: var(--color-black);
  text-align: center;
}

.pricing__inner {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

.pricing__block {
  display: flex;
  flex-direction: column;
}

.pricing__img {
  width: 340px;
  height: 340px;
}

.pricing__sub-title {
  margin-top: 11px;
  font-family: var(--poppins-sb);
  font-size: 30px;
  line-height: 48px;
  color: var(--color-black-lighter);
}

.pricing__descr {
  margin-top: 19px;
  font-family: var(--poppins-r);
  font-size: 20px;
  width: 410px;
  flex: 1;
}
.pricing__price {
  margin-top: 29px;
  max-width: 240px;
  max-height: 45px;
  background-color: var(--color-gray-lighter);
  text-align: center;
}

.price__text {
  font-family: var(--poppins-r);
  font-size: 18px;
  line-height: 27px;
}

.price_price {
  font-size: 30px;
  line-height: 45px;
}

@media (max-width: 992px) {
  .pricing {
    padding-top: 125px;
  }
  .pricing__img {
    width: 242px;
    height: 242px;
  }
  .pricing__title {
    font-size: 36px;
    line-height: 80px;
  }
  .pricing__inner {
    margin-top: 10px;
  }
  .pricing__sub-title {
    margin-top: 5px;
    font-size: 22px;
    line-height: 34px;
  }
  .pricing__descr {
    margin-top: 9px;
    max-width: 295px;
    font-size: 16px;
    line-height: 24px;
  }

  .pricing__price {
    margin-top: 31px;
    max-width: 205px;
    max-height: 45px;
  }

  .price__text {
    font-size: 16px;
    line-height: 24px;
  }
  .price_price {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .pricing {
    padding-top: 88px;
  }
  .pricing__img {
    width: 210px;
    height: 210px;
  }
  .pricing__title {
    font-size: 30px;
    line-height: 80px;
  }
  .pricing__inner {
    margin-top: 26px;
  }
  .pricing__sub-title {
    margin-top: 23px;
    font-size: 20px;
    line-height: 28px;
    min-width: 160px;
  }
  .pricing__descr {
    margin-top: 15px;
    max-width: 221px;
    font-size: 14px;
    line-height: 21px;
  }

  .pricing__price {
    margin-top: 23px;
    max-width: 205px;
    max-height: 45px;
  }

  .price__text {
    font-size: 16px;
    line-height: 24px;
  }
  .price_price {
    font-size: 22px;
    line-height: 33px;
  }
}

@media (max-width: 575px) {
  .pricing {
    padding-top: 131px;
  }
  .pricing__inner {
    margin-top: 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
  }
  .pricing__block {
    align-items: center;
  }
  .pricing__img {
    width: 253px;
    height: 253px;
    /* margin: 0 auto; */
  }
  .pricing__sub-title {
    margin-top: 23px;
    font-size: 24px;
    line-height: 28px;
    /* text-align: center; */
  }
  .pricing__descr {
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    min-width: 400px;
  }

  .pricing__price {
    margin-top: 23px;
    max-width: 205px;
    max-height: 45px;
  }

  .price__text {
    font-size: 16px;
    line-height: 24px;
  }
  .price_price {
    font-size: 22px;
    line-height: 33px;
  }
}

@media (max-width: 320px) {
  .pricing__descr {
    min-width: 300px;
  }
}
